@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}

.top-bar{
    width: 100%;
    height: 5vh;
    top: 0;
    background-color: #22223bff;
}
.main-section{
    width: 100%;
    height: 90vh;
    background-color:#f2e9e4ff;
    display: flex;
    flex-direction: row;
}
.bottom-bar{
    width: 100%;
    height: 5vh;
    background-color: #22223bff;
}

.content{
    width:75%;
    background-color: #f2e9e4ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
.side-navbar{
    width: 25%;
    background-color: #4a4e69ff;
    border-left: 1px solid #22223bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-navbar h1{
    color: #f2e9e4ff;
}
.side-navbar p{
    color: #f2e9e4ff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.slider-container{
    width: 70%;
}

.slider{
    border-radius: 11px;
    border: 1px solid #22223bff;
    appearance: none;
    width: 100%;
    height: 20px;
    background-color: #f2e9e4ff;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
}
.slider:hover{
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:#22223bff;
    cursor: pointer;
    border-radius: 50%;
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #22223bff;
    cursor: pointer;
}

.sort-btn{
    font-size: 1.1rem;
    font-weight: 700;
    color: #22223bff;
    text-transform: uppercase;
    padding: 0.5rem 4rem;
}


.array-bar {
    width: 2px;
    background: #22223bff;
    margin: 1px;
}